/* Put your solutions to the assignment here */
body {
    background-color: #eee
}
header {
    background-color: #49516f;
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 0px
}
span, h1 {
    margin: 0px 0px 0px 0px;
    color: white
}
.logo {
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    
}
.post{
    flex-grow: inherit;
    width:100%;
}
.post-body{
    height: 200px;
}
.post-container{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
}
.post-pic{
    height: 200px;
    width: 200px;
    margin-right: 10px;
}
/*Desktop*/
@media only screen and (min-width: 999px) {
    .posts {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
    .post {
        max-width: 800px;
        display: inline-flex;
    }
}
/*Tablet*/
@media only screen and (max-width: 998px) and (min-width: 400px) {
    header{
        justify-content: center;
    }
    .post{
        flex: 50%;
        flex-direction: column;
    }
    .posts{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .post-container{
        flex-direction: column;
    }
    .post-pic{
        width: 100%;
        height: auto;
    }
}
/*Phone*/
@media only screen and (max-width: 399px) {
    header{
        flex-direction: column;
        text-align: center;
    }
    .posts{
        flex-basis: auto;
        flex-direction: column;
    }
    .post-pic{
        width: 100%;
        height: auto;
    }
    .post-container{
        flex-direction: column;
    }
    .logo{
        border-radius: 50%;
    }
}